@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    background-image: url("https://ltcl2021.github.io/ltcl/images/temp_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: 'Roboto';
}

nav {
    width: auto;
    height: auto;
}

.ul {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid #303030; */
    background-color: rgb(41, 41, 41);
    box-shadow: none;
  }
  
.li {
    float: left;
    display: flex;
    text-align: center;
}
  
.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
.li a:hover {
    background-color: rgb(30, 150, 24);
} 

.header {
    background-color: #f5f5f5;
    height: 100px;
    padding: 0 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.active {
    background-color: rgb(5, 139, 0);
}

.rules {
    background-color: #77777770;
    height: 75%;
    padding: 50px;
}

.ritem {
    padding: 10px;
}

.h1 {
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 0 0px;
}

.game {
    padding: 30px;
    display: flex;
    text-align: center;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05);
    transition: .5s ease;
    opacity: 0.8;
}

.link {
    color: rgb(21, 160, 14);
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.wrap2 {
  float: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
div.group input {
  display: flex;
}
div.group input ~ div.content {
  /* border: solid 1px black; */
  display: none;
  height: 350px;
  margin: 0px 60px;
  position: flex;
  width: 300px;
}
div.group input:checked ~ div.content {
  display: flex;
  position: flex;
}
div.group input:checked ~ label.previous,
div.group input:checked ~ label.next {
  display: center;
}
div.group label {
  background-color: #69c;
  /* border: solid 1px black; */
  display: flex;
  height: 50px;
  width: 50px;
}
.img {
  margin: 0 auto;
  position: center;
  /* width: 100%; */
  left: 0;
  right: 0;
}

label {
  font-size: 4em;
  margin: 20 auto;
}
label.previous {
  float: left;
  padding: 0 0 30px 5px;
}
label.next {
  float: right;
  padding: 0 5px 25px 0;
  text-align: right;
}